/* Général */


body{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	margin: 0; padding: 0;
}
a{
	color: unset;
	text-decoration: none;
}
a h3,a p{
	margin: 0;
}
#icone_position,#div_hebergements section,aside,footer{
	background-color: #F2F2F2;
}
#hebergements a,#populaires a,#activites a{
	background-color: white;
}


/* Couleurs */


.bleu{
	color: #0065FC;
}
.gris{
	color: rgb(217, 217, 217);
}	
.moyen{
	font-size: 20px;
}
.grand{
	font-size: 25px;
}


/* En-tête */


header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 15px 15px 15px;
}
header img{
	width: 100px; height: 45px;
}


/* Introduction */
#introduction{
	margin: 15px;
}


/* Barre de recherche */


#recherche{
	display: flex;
	align-items: center;
	border-radius: 15px;
	border: 2px #F2F2F2 solid;
	overflow: hidden;
	height: 40px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 10px;
}
#icone_position{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	margin-right: 10px;
}
#text{
	border: none;
	outline: none;
	width: 100%;
}
#submit{
	background-color: #0065FC;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px;
}


/* Filtres */

#filtres{
	display: flex;
	flex-wrap: wrap;
}
#filtres a{
	display: flex;
	align-items: center;
	margin: 5px;
}
#filtres a{
	border: 2px #F2F2F2 solid;
	border-radius: 25px;
}
#filtres a:hover{
	border: 2px #0065FC solid;
}
#filtres a p{
	padding: 10px;
}
.icone_filtre{
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 40px; height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Info */


#info{
	display: flex;
	align-items: center;
}
#icone_info{
	border: 2px #F2F2F2 solid;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px; height: 25px;
	margin-right: 10px;
}


/* Corps de page */


#div_hebergements{
	display: flex;
	flex-wrap: wrap-reverse;
}
section.articles,aside{
	border-radius: 15px;
	padding: 15px; margin: 20px;
}
section.articles{
	flex: 2.5;
}
aside{
	flex: 1;
}


/* Cartes */


#hebergements a,#populaires a,#activites a{
	flex: 1;
	overflow: hidden;
	border: 5px white solid;
	border-radius: 15px;
	box-shadow: silver 0 0 10px;
	margin: 15px;
}
#hebergements a:hover,#populaires a:hover,#activites a:hover{
	box-shadow: grey 0 0 10px;
}


/* Descriptions */

.description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
section.articles a h3,section.articles a p,aside a h3,aside a p{
	padding: 5px 10px 0 10px;
}
.note{
	padding: 5px 10px 5px 10px;
}
#activites a h3{
	padding: 10px 15px 10px 15px;
}


/* Hébergements */


#hebergements{
	display: flex;
	flex-wrap: wrap;
}
#hebergements a{
	display: flex;
	flex-direction: column;
	min-width: 250px; max-width: 400px;

}
#hebergements a img{
	height: 100px;
	object-fit: cover;
}


/* Les plus populaires */


#icone_tendance{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#populaires a{
	display: flex;
	height: 125px;
	min-width: 250px; max-width: 400px;
}
#populaires a img{
	width: 40%;
	text-align: center;
}


/* Activités */

#activites{
	display: flex;
	flex-wrap: wrap;
}
#activites a{
	display: flex;
	flex-direction: column;
	min-width: 150px; max-width: 250px;
}
#activites a img{
	object-fit: cover;
}


/* Pied de page */


footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}
footer div{
	flex: 1;
	min-width: 250px;
	margin: 0px 15px 0 15px;
}


/* Mobile */


@media all and (max-width: 425px){
	header{
		justify-content: space-between;
	}
	nav{
		order: 3;
	}
	nav a{
		flex: 1;
		border-bottom: 2px #F2F2F2 solid;
		padding: 15px; margin: 0;
	}
	nav a:hover{
		color: #0065FC;
		border-bottom: 2px #0065FC solid;
	}	
	#bouton_rechercher{
		display: none;
	}
	section.articles,aside{
		padding: 10px; margin: 5px;
	}
	#hebergements a,#populaires a,#activites a{
		margin: 10px;
	}
	#div_hebergements section{
		background-color: white;
	}
	#activites a img{
		height: 250px;
	}
}


/* Grands écrans */


@media all and (min-width: 426px){
	nav{
		
	}
	nav a{
		border-top: 2px white solid;
		padding: 30px; margin: 0;
	}
	nav a:hover{
		color: #0065FC;
		border-top: 2px #0065FC solid;
	}	
	#icone_recherche{
		display: none;
	}
	#div_filtres{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}
