/* Général */


body{
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
}
a{
	color: unset;
	text-decoration: none;
}
a h3,a p{
	margin: 0;
}


/* Couleurs */


#icone_position,.icone_filtre,#hebergements,#populaires,footer{
	background-color: #F2F2F2;
}
#div_hebergements a,#div_populaires a,#div_activites a, #div_activites a h3{
	background-color: white;
}
.primaire{
	color: #0065FC;
}
.secondaire{
	color: rgb(217, 217, 217);
}	


/* En-tête */


header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px 0px 30px;
}
header img{
	height: 45px;
	width: 100px;
}
nav{
	display: flex;
}
nav a{
	text-align: center;
	min-width: 100px;
}


/* Introduction */


#introduction{
	margin: 30px;
}


/* Barre de recherche */


#recherche{
	display: flex;
	align-items: center;
	border-radius: 15px;
	border: 2px #F2F2F2 solid;
	overflow: hidden;
	height: 40px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 10px;
}
#icone_position{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	margin-right: 10px;
}
#text{
	border: none;
	outline: none;
	width: 100%;
}
#submit{
	background-color: #0065FC;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px;
}


/* Filtres */


#div_filtres a{
	display: flex;
	align-items: center;
	border: 2px #F2F2F2 solid;
	border-radius: 25px;
	margin: 10px;
}
#div_filtres a:hover{
	border: 2px #0065FC solid;
}
#div_filtres a h3{
	padding: 10px;
}
.icone_filtre{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	height: 40px;
	width: 40px;
}


/* Info */


#info{
	display: flex;
	align-items: center;
}
#icone_info{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px #F2F2F2 solid;
	border-radius: 15px;
	height: 25px;
	width: 25px;
	margin-right: 10px;
}


/* Corps de page */


#div_contenu{
	display: flex;
	flex-wrap: wrap-reverse;
}
#hebergements,#populaires,#activites{
	border-radius: 15px;
	padding: 15px;
	margin: 20px;
}
#hebergements{
	flex: 2.5;
}
#populaires{
	flex: 1;
}
#hebergements h2,#activites h2,#populaires h2{
	margin-left: 15px;
}
#populaires #icone_tendance i{
	margin-right: 15px;
}

/* Cartes */


#div_filtres,#div_hebergements,#div_populaires,#div_activites{
	display: flex;
	flex-wrap: wrap;
}
article{
	flex: 1;
	padding: 15px;
}
#div_hebergements a,#div_populaires a,#div_activites a{
	overflow: hidden;
	border-radius: 15px;
	box-shadow: silver 0 0 10px;
	margin: auto;
}
#div_hebergements a, #div_populaires a{
	border: 5px white solid;
}
#div_hebergements a:hover,#div_populaires a:hover,#div_activites a:hover{
	box-shadow: grey 0 0 10px;
}


/* Descriptions */


.description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
#div_hebergements a h3,#div_populaires a h3{
	padding: 10px 10px 0px 10px;
}
#div_activites a h3{
	padding: 10px 15px 10px 15px;
}
#div_hebergements a p,#div_populaires a p{
	padding: 5px 10px 0px 10px;
}
.note{
	padding: 5px 10px 5px 10px;
}


/* Hébergements */


#div_hebergements a{
	display: flex;
	flex-direction: column;
	max-width: 300px;
}
#div_hebergements a img{
	height: 120px;
	object-fit: cover;
}


/* Les plus populaires */


#icone_tendance{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#div_populaires{
	flex-direction: column;
}
#div_populaires a{
	display: flex;
	height: 120px;
	max-width: 350px;
}
#div_populaires a img{
	width: 120px;
	margin-right: 5px;
}


/* Activités */


#div_activites a img{
	object-fit: cover;
}

/* Voir dans les media queries */


/* Pied de page */


footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}
footer div{
	flex: 1;
	min-width: 150px;
	margin: 0px 15px 0px 15px;
}


/* Mobile */


@media all and (max-width: 425px){
	header{
		padding: 15px 0px 0px 0px;
	}
	header img{
		margin-left: 15px;
	}
	nav{
		width: 100%;
	}
	nav a.menu{
		flex: 1;
		border-bottom: 2px #F2F2F2 solid;
		padding: 20px 15px 10px 15px;
	}
	nav a.menu:hover{
		color: #0065FC;
		border-bottom: 2px #0065FC solid;
	}
	#inscription{
		position: absolute;
		top: 34px;
		right: 5px;
	}
	#introduction{
		margin: 15px;
	}
	#recherche{
		margin: 30px 0px 30px 0px;
	}
	#bouton_rechercher{
		display: none;
	}
	#div_filtres a{
		margin: 5px;
	}
	#hebergements{
		background-color: white;
	}
	#populaires{
		border-radius: 0px;
	}
	#hebergements,#populaires,#activites{
		padding: 15px;
		margin: 0px;
	}
	#hebergements h2,#populaires h2,#activites h2{
		margin-left: 5px;
	}
	#populaires #icone_tendance i{
		margin-right: 5px;
	}	
	#div_hebergements,#div_activites{
		flex-direction: column;
	}
	article{
		padding: 5px;
	}
	#div_activites a img{
		height: 120px;
	}
	footer{
		padding: 15px;
	}
}


/* Desktop */


@media all and (min-width: 426px){
	header img{
		margin-top: 15px;
	}
	nav a{
		border-top: 2px white solid;
		padding: 30px 15px 10px 15px;
	}
	nav a.menu:hover{
		color: #0065FC;
		border-top: 2px #0065FC solid;
	}
	#icone_recherche{
		display: none;
	}
	#filtres{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	#filtres h3{
		margin-right: 10px
	}
	#div_hebergements a{
		min-width: 225px;
	}
	#div_populaires a{
		min-width: 275px;
	}
	#div_activites a{
		min-width: 200px;
	}
	#div_activites a img{
		height: 200px;
	}
}


/* Activités */


/* Flexbox */
@media all and (max-width: 1023px){
	#div_activites a{
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 400px;
	}
}

/* CSS Grid */
@media all and (min-width: 1024px){
	#div_activites{
		display: grid;
		grid-template-columns: repeat(4,25%);
		grid-auto-rows: 45px;
	}
	#div_activites a{
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
	}
	#div_activites a img{
		height: 100%;
	}
	#div_activites a h3{
		position: absolute;
		bottom: 0px;
		width: 100%;
	}
	#activite_1{
		grid-column: 1;
		grid-row: 1 / 11;
	}
	#activite_2{
		grid-column: 2;
		grid-row: 1 / 7;
	}
	#activite_3{
		grid-column: 2;
		grid-row: 7 / 11;
	}
	#activite_4{
		grid-column: 3;
		grid-row: 1 / 11;
	}
	#activite_5{
		grid-column: 4;
		grid-row: 1 / 6;
	}
	#activite_6{
		grid-column: 4;
		grid-row: 6 / 11;
	}
}