/* bleu #0065FC bleu clair #DEEBFF gris #F2F2F2 */

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

/* Pied de page */

footer{
	background-color: #F2F2F2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}
footer div{
	flex: 1;
	min-width: 250px;
	margin: 0px 15px 0 15px;
}